<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Team Chimera - RV College of Engineering, Bangalore</title>
  <meta name="description"
    content="Team Chimera is the Hybrid Racing team of RV College of Engineering, Bangalore. The team is mainly focused on research and development of hybrid vehicles and related technology.">
  <link rel="stylesheet" href="TeamChimera.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> -->


  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet"> -->

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <!-- <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- <link href="assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <!-- =======================================================
  * Template Name: Day - v2.0.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:teamchimera@rvce.edu.in">teamchimera@rvce.edu.in</a>
        <i class="icofont-phone"></i> Vaibhav Hebbal: +91 80735 59500
      </div>
      <div class="social-links">
        <a href="https://twitter.com/rvteamchimera" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/TeamChimeraRacing/" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/team_chimera/" class="instagram"><i class="icofont-instagram"></i></a>

        <a href="https://www.linkedin.com/company/team-chimera" class="linkedin"><i
            class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <a class="logo mr-auto" href="#"><img src="assets/img/logo3.png"><img src="assets/img/title_lowres.png"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#achievements">ACHIEVEMENTS</a></li>
          <li><a href="#timeline">TIMELINE</a></li>
          <li><a href="#team">TEAM</a></li>
          <li><a href="#sponsers">SPONSORS</a></li>
          <li><a href="#contact">CONTACT</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
      <h1>Team Chimera</h1>
      <h2>Official Formula Electric Team, RV College of Engineering</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="section-title" data-aos="fade-down">
        <span>ABOUT US</span>
        <h2>ABOUT US</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/450660995?color=c9ff23" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script defer src="https://player.vimeo.com/api/player.js"></script>
            <p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">

            <p class="text-faded text-justify">
              Started in the year 2006, Team Chimera is the first group in India to successfully transcend into the
              automotive sector of hybrid
              and electric technology. We are a multi-dimensional team comprising of students with back grounds in
              various engineering disciplines
              such as Electrical and Electronics, Mechanical, and Computer Science, apart from a dedicated team to look
              after the management and
              business development aspects of the team.
            </p>
            <p class="text-faded text-justify">
              Team Chimera has, till date, undertaken various ventures, which include: E-volve Triple Powered
              Vehicle(TPV), Hybrid Auto Rickshaw,
              a plugin hybrid from the Electric Vehicle - REVA and the latest being building a Formula Hybrid race car
              and Formula Electric race
              car from scratch.
            </p>
            <p class="text-faded text-justify">
              With the cost of gasoline skyrocketing to new heights and the predictions concerning its depletion within
              the next 20 years,
              electric and hybrid automotive technology provides a logical solution.
            </p>
            <p class="text-faded text-justify">
              Our participation in recent events such as Formula Hybrid Competition, USA, Formula Electric Competition,
              Italy and Student Formula,
              Japan, Formula Green and Formula Bharat have been immensely successful and we continue to strive for
              progress and expansion
              in these environment friendly sectors.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->

    <section id="achievements" class="achievements">
      <div class="section-title">
        <span>ACHIEVEMENTS</span>
        <h2>ACHIEVEMENTS</h2>
        <H5 style="color:rgb(25, 243, 6);">EVERYTHING WE HAVE DONE SO FAR</H5>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading wow fadeIn">

            </h2>


          </div>
        </div>
        <div class="row">

          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/12.jpg" class="img-responsive" alt="" height="200" width="300">
                <span>01</span>
                <h4>Water Powered Auto</h4>
                <p>Our First Project</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/reva_home.jpg" class="img-responsive" alt="" height="200"
                  width="300">
                <span>02</span>
                <h4>Reva Electric</h4>
                <p>Plug-in Hybrid</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/car_home.jpg" class="img-responsive" alt="" height="200" width="300">
                <span>03</span>
                <h4> FSAE Hybrid</h4>
                <p>First Asian team to participate</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/un.jpg" class="img-responsive" alt="" height="200" width="300">
                <span>04</span>
                <h4>Unveiling of Electric car</h4>
                <p>First Electric car of RVCE</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/italy_event.jpg" class="img-responsive" alt="" height="200"
                  width="300">
                <span>05</span>
                <h4>FSAE Electric</h4>
                <p>The all new pure-electric</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/japan2016.jpg" class="img-responsive" alt="" height="200"
                  width="300">
                <span>06</span>
                <h4>FSAE Japan-2016</h4>
                <p>Rookie Award-Best Debutant Team</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/japan2017.jpg" class="img-responsive" alt="" height="200"
                  width="300">
                <span>07</span>
                <h4>FSAE Japan-2017</h4>
                <p>6th in Business Presentation in electric category</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/img/portfolio/bharat.jpg" class="img-responsive" alt="" height="200" width="300">
                <span>08</span>
                <h4>Electric Car Concept Challenge</h4>
                <p>Formula Bharat 2018</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/portfolio/green.webp" class="img-responsive" alt="" height="200" width="300">
                <span>09</span>
                <h4>Formula Green 2018 </h4>
                <p>4th Overall</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">
            <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
              <div class="box">
                <img src="assets/img/portfolio/green.webp" class="img-responsive" alt="" height="200" width="300">
                <span>10</span>
                <h4>Formula Bharat 2019</h4>
                <p>1st in Business Presentation</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>
    <!-- End Why Us Section -->

    <section id="timeline">
      <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
          <h1 class="timeline-header__title">TIMELINE </h1>
          <h3 class="timeline-header__subtitle">OUR HISTORY</h3>
        </div>
        <div class="timeline" id="timelineContainer">
          <div  v-for="(object, index) in timelineobject" class="timeline-item" data-text="OUR HISTORY">
            <div class="timeline__content"><img class="timeline__img" v-bind:src="object.image" />
              <h2 class="timeline__content-title">{{object.title}}</h2>
              <h1 style="font-size: 21px" class="timeline__content-desc">{{object.description}}</h1>
              <p class="timeline__content-desc">{{object.content}}</p>
            </div>
          </div>

     



        </div>
      </div>
    </section>

    <!-- <script src="TeamChimera.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function ($) {
        $.fn.timeline = function () {
          var selectors = {
            id: $(this),
            item: $(this).find(".timeline-item"),
            activeClass: "timeline-item--active",
            img: ".timeline__img"
          };
          selectors.item.eq(0).addClass(selectors.activeClass);
          selectors.id.css(
            "url(" +
            selectors.item
              .first()
              .find(selectors.img)
              .attr("src") +
            ")"
          );
          var itemLength = selectors.item.length;
          $(window).scroll(function () {

            var max, min;
            var pos = $(this).scrollTop();

            selectors.item.each(function (i) {

              min = $(this).offset().top - $(this).height();
              max = $(this).height() + $(this).offset().top;
              var that = $(this);
              if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
                selectors.item.removeClass(selectors.activeClass);
                selectors.id.css(

                  "url(" +
                  selectors.item
                    .last()
                    .find(selectors.img)
                    .attr("src") +
                  ")"
                );
                selectors.item.last().addClass(selectors.activeClass);
              } else if (pos <= max - 10 && pos >= min) {
                selectors.id.css(

                  "url(" +
                  $(this)
                    .find(selectors.img)
                    .attr("src") +
                  ")"
                );
                selectors.item.removeClass(selectors.activeClass);
                $(this).addClass(selectors.activeClass);
              }
            });
          });
        };
      })(jQuery);

      $("#timeline-1").timeline();
    </script>
    <!-- ======= Clients Section ======= -->
    <!--
    <section id="clients" class="clients">
      <div class="section-title">
        <span>SPONSORS</span>
        <h2>SPONSORS</h2>
        <H5 style="color:rgb(25, 243, 6);">OUR BACKBONE</H5>
      </div>
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/DS_solidworks.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/abb.png" class="img-fluid" alt="">
          </div>


          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/accord.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/MATLAB.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/airindia.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/azure.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="assets/img/clients/bender.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- End Clients Section -->

    <!-- sTART of Services
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-duration="100"
            data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-duration="100"
            data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-duration="100" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section> End Services Section --> -->

    <!-- ======= Cta Section ======= -->
    <!--
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>

    </section>
    -->
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <!--
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-duration="100" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- End Portfolio Section -->

    <!-- ======= Pricing Section =======
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Pricing</span>
          <h2>Pricing</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
        </div>
        <div>
          <h4 class="text-center mx-auto font-weight-bold mb-4 pb-2">FACULTY ADVISOR</h4>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-8 mx-auto align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="assets/img/team/sir.webp" alt="">
              <h4>DR. SHANMUKHA NAGARAJ</h4>
              <span>Dean of Student Affairs</span>
              <p>
                Professor , Department of Mechanical Engineering
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container pt-1 my-5 z-depth-5">
          <section class="p-md-3 mx-md-5 text-center text-lg-left ">
            <h4 class="text-center mx-auto font-weight-bold mb-4 pb-2">LEADING TEAM</h4>
            <div id="leadingTeamContainer">
              <div class="row">
                <div v-for="(member, index) in leadingTeam" class="col-lg-3 col-md-4 col-sm-6">

                  <div class="p-4">
                    <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                      <img loading="lazy" v-bind:src="member.image"  class="square-img img-fluid rounded-circle z-depth-1" />
                    </div>
                    <div class="text-center mt-3">
                      <h6 class="font-weight-bold pt-2">{{ member.name }}</h6>
                      <p class="text-muted">
                        <small><i>{{ member.portfolio }}</i></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button_container">
              <a href="fullteam.html" class="fullteam-modal" ><button class="btn btn-raised"><span>VIEW FULL
                    TEAM</span></button></a>
                    <div class="modal fade text-center" id="fullTeamModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                      </div>
                    </div>
            </div>
            <br>
            <br>
            <div class="button_container">
              <a href="./alumnipage.html"><button class="btn btn-raised"><span>VIEW OUR ALUMNI
                  </span></button></a>
            </div>
          
          </section>
        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <!--======SPONSORS SECTION======-->

    <section id="sponsers" class="sponsers">
      <div class="section-title">
        <span>SPONSORS</span>
        <h2>SPONSORS</h2>
        <H5 style="color:rgb(25, 243, 6);">OUR BACKBONE</H5>
      </div>
      <div id="sponserContainer" class="container" data-aos="zoom-in">
        <h4 class="section-heading wow bounceIn" style="font-weight: bold;">PLATINUM SPONSERS</h4>
        <div class="row d-flex justify-content-center align-items-center">

          <div v-for="sponser in platinumSponsers" class="col-lg-3 col-md-7 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>

        </div>

        <h4 class="section-heading wow bounceIn" style="font-weight: bold;">GOLD SPONSERS</h4>
        <div class="row d-flex justify-content-center align-items-center">

          <div v-for="sponser in goldSponsers" class="col-lg-3 col-md-7 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>
        </div>

       
        <h4 class="section-heading wow bounceIn" style="font-weight: bold;">BRONZE SPONSERS</h4>
        <div class="row d-flex justify-content-center align-items-center">

          <div v-for="sponser in bronzeSponsers" class="col-lg-3 col-md-7 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>

        </div>
         

        <h4 class="section-heading wow bounceIn" style="font-weight: bold;">TECHNICAL SPONSERS</h4>
        <div class="row d-flex justify-content-center align-items-center">

          <div v-for="sponser in technicalSponsers" class="col-lg-3 col-md-7 col-10">
            <a target="_blank" v-bind:href="sponser.link">
              <img loading="lazy" v-bind:src="sponser.image" class="img-responsive" alt="img-responsive"></a>
          </div>

        </div>


      </div>
    </section>

    <!--======END OF SPONSORS SECTION======-->

    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Ready to contribute to our project? <br> Give us a call or send us an email and we will get back to you as
            soon as possible!</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Team Chimera Workshop, College Campus,<br> RV College of Engineering, Mysore Road,<b> 560059
                  Bangalore</b></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>teamchimera@rvce.edu.in</p>
              <br>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>Vaibhav Hebbal: +91 80735 59500</p>
              <p>Sushant Joshi: +91 94826 90484</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="100">

          <div class="col-lg-6 ">
            <iframe loading="lazy" class="mb-4 mb-lg-0"
              src="https://maps.google.com/maps?q=rv%20college%20of%20engineering&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
 


            <form action="https://formspree.io/mgenbplr" method="POST" role="form">
              <div class="form-row">
                
                <div class="col-md-6 form-group">
                  <input type="email" name="_replyto" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>

              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
            
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

        
            <div class="footer-info">
            
              <p>
                Team Chimera Workshop, College Campus,<br> RV College of Engineering, Mysore Road,<br> 560059 Bangalore
                <br>
                <strong>Phone:</strong> Vaibhav Hebbal: +91 80735 59500<br>
                <strong>Email:</strong> teamchimera@rvce.edu.in<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/rvteamchimera" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/TeamChimeraRacing/" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/team_chimera/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/team-chimera" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
              </div>
            </div>
       

         

        
       
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <span>
          <font size="4">Copyright ©2020 Team Chimera</font>
        </span>
      </div>
      <div class="credits">
        <p class="text-faded" style="margin-top: 1%">Credits: BootstrapMade.com.
        </p>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Water Powered Hybrid Auto</h2>
              <p class="item-intro text-muted"></p>
              <img class="img-responsive img-centered" width="100%" src="assets/img/portfolio/auto.jpg" alt="">
              <p class="text-justify">Hybrid Auto Team RVCE participated in The Hybrid Auto Rickshaw Battle, an
                international competition
                organized by the Dutch NGO Enviu, between the 22nd and 25th of July 2009. Our business plan
                was adjudged the best and the project overall finished second. Our Business plan was one
                of the national finalists of Bloomberg UTVi Idea League B- Plan Competition. </p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"><img src="assets/img/logo3.png"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <!-- <script src="assets/vendor/venobox/venobox.min.js"></script> -->
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/js/timelinedata.js"></script>
  <script src="assets/js/leadingteam.js"></script>
  <script src="assets/js/sponsors.js"></script>
  <!-- <script type="text/javascript" lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script> -->
 
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>

$('.fullteam-modal').on('click', function(e){
      e.preventDefault();
      $('#fullTeamModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script>


</body>

</html>